{% load tags %}
{% block navbar %}
<nav class="navbar">
  <div>
    <a class="navbar-brand" href="{% url 'index' %}"><i class="fa-solid fa-message"></i> ANONCHAT</a>
    <a class="nav-link" href="{%  url 'chat' %}">CHAT</a>
  </div>
  <div>
    {% if request.user.is_authenticated %}
    <a class="logout" href="{%  url 'logout' %}">WYLOGUJ</a>
    {% else %}
    <a class="login" href="{%  url 'login' %}">ZALOGUJ</a>
    <a class="register" href="{%  url 'register' %}">ZAREJESTRUJ</a>
    {% endif %}
  </div>
</nav>
{% endblock %}